$def with (host,sections,machines)
<!DOCTYPE html>
<html>
<body>
<link rel="stylesheet" href="static/pure-min.css">
<link rel="stylesheet" href="static/bb.css">
<div class="pure-g-r" id="content">
<div class="pure-u" id="main">
<div class="head pure-u-1">
<h1>Proximal Boot server</h1>
</div>
<div class="content">
<table class="pure-table pure-table-horizontal" id="main">
<thead>
<tr>
$for i in sections:
	<th>$i</th>
</tr>
</thead>
$for j in machines:
	<tr>
	$for k in j:
		<td>$k</td>
	</tr>
</table>
</div>
</div>
</body>
</html>
